@theme {
  --color-primary-25: #fffafa;
  --color-primary-50: #fdeced;
  --color-primary-100: #fcdadb;
  --color-primary-200: #f8abae;
  --color-primary-300: #f37c80;
  --color-primary-400: #ef4d53;
  --color-primary-500: #eb1c24;
  --color-primary-600: #c51118;
  --color-primary-700: #960d13;
  --color-primary-800: #67090d;

  --color-primary-900: #380507;
  --color-primary-950: #380507;
  --color-primary-A50: #eb1c2480;
  --color-primary-A40: #eb1c2452;
  --color-primary-A30: #eb1c243d;
  --color-primary-A20: #eb1c2429;
  --color-primary-A10: #eb1c2414;
  --color-midnight-25: #fcfcfd;
  --color-midnight-50: #f6f7f9;
  --color-midnight-100: #edeff2;
  --color-midnight-200: #d0d5dd;
  --color-midnight-300: #b2bac7;
  --color-midnight-400: #94a0b2;
  --color-midnight-500: #77869d;
  --color-midnight-600: #5e6c82;
  --color-midnight-700: #495465;
  --color-midnight-800: #333b47;
  --color-midnight-900: #1e2229;
  --color-midnight-950: #090a0c;
  --color-midnight-A50: #77869d80;
  --color-midnight-A40: #77869d52;
  --color-midnight-A30: #77869d3d;
  --color-midnight-A20: #77869d29;
  --color-midnight-A10: #77869d14;
  --color-neutral-25: #fcfcfc;
  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #d6d6d6;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #8a8a8a;
  --color-neutral-600: #707070;
  --color-neutral-700: #575757;
  --color-neutral-800: #3d3d3d;
  --color-neutral-900: #242424;
  --color-neutral-950: #0a0a0a;
  --color-neutral-A50: #8a8a8a80;
  --color-neutral-A40: #8a8a8a52;
  --color-neutral-A30: #8a8a8a3d;
  --color-neutral-A20: #8a8a8a29;
  --color-neutral-A10: #8a8a8a14;
  --color-lime-25: #fdfffa;
  --color-lime-50: #f9fef1;
  --color-lime-100: #f2fce3;
  --color-lime-200: #ddf7b5;
  --color-lime-300: #c8f287;
  --color-lime-400: #b2ed59;
  --color-lime-500: #9de82b;
  --color-lime-600: #83ca16;
  --color-lime-700: #659c11;
  --color-lime-800: #476e0c;
  --color-lime-900: #2a4007;
  --color-lime-950: #0c1202;
  --color-lime-A50: #9de82b80;
  --color-lime-A40: #9de82b52;
  --color-lime-A30: #9de82b3d;
  --color-lime-A20: #9de82b29;
  --color-lime-A10: #9de82b14;
  --color-green-25: #fbfefc;
  --color-green-50: #f2fdf6;
  --color-green-100: #e5faed;
  --color-green-200: #baf3cf;
  --color-green-300: #8eebb1;
  --color-green-400: #63e492;
  --color-green-500: #37dc74;
  --color-green-600: #21bf5c;
  --color-green-700: #1a9447;
  --color-green-800: #126832;
  --color-green-900: #0b3d1d;
  --color-green-950: #031108;
  --color-green-A50: #37dc7480;
  --color-green-A40: #37dc7452;
  --color-green-A30: #37dc743d;
  --color-green-A20: #37dc7429;
  --color-green-A10: #37dc7414;
  --color-emerald-25: #fafffe;
  --color-emerald-50: #effffc;
  --color-emerald-100: #e1fff9;
  --color-emerald-200: #aefeee;
  --color-emerald-300: #7cfde3;
  --color-emerald-400: #4bfcd9;
  --color-emerald-500: #18fbce;
  --color-emerald-600: #03deb2;
  --color-emerald-700: #03aa89;
  --color-emerald-800: #02725c;
  --color-emerald-900: #014638;
  --color-emerald-950: #001511;
  --color-emerald-A50: #18fbce80;
  --color-emerald-A40: #18fbce52;
  --color-emerald-A30: #18fbce3d;
  --color-emerald-A20: #18fbce29;
  --color-emerald-A10: #18fbce14;
  --color-teal-25: #fafffe;
  --color-teal-50: #f1fefc;
  --color-teal-100: #e3fcf9;
  --color-teal-200: #b5f7f0;
  --color-teal-300: #87f2e6;
  --color-teal-400: #59eddd;
  --color-teal-500: #2be8d3;
  --color-teal-600: #16cab7;
  --color-teal-700: #119c8e;
  --color-teal-800: #0c6e64;
  --color-teal-900: #07403a;
  --color-teal-950: #021211;
  --color-teal-A50: #2be8d380;
  --color-teal-A40: #2be8d352;
  --color-teal-A30: #2be8d33d;
  --color-teal-A20: #2be8d329;
  --color-teal-A10: #2be8d314;
  --color-cyan-25: #fafeff;
  --color-cyan-50: #f0fdff;
  --color-cyan-100: #e1fafe;
  --color-cyan-200: #aff1fd;
  --color-cyan-300: #7ee9fc;
  --color-cyan-400: #4ce0fa;
  --color-cyan-500: #1bd8f9;
  --color-cyan-600: #06bbdb;
  --color-cyan-700: #0490a9;
  --color-cyan-800: #036678;
  --color-cyan-900: #023b46;
  --color-cyan-950: #011114;
  --color-cyan-A50: #1bd8f980;
  --color-cyan-A40: #1bd8f952;
  --color-cyan-A30: #1bd8f93d;
  --color-cyan-A20: #1bd8f929;
  --color-cyan-A10: #1bd8f914;
  --color-sky-25: #fafdff;
  --color-sky-50: #f0faff;
  --color-sky-100: #e1f5ff;
  --color-sky-200: #aee3fe;
  --color-sky-300: #7cd1fe;
  --color-sky-400: #49bffd;
  --color-sky-500: #17aefd;
  --color-sky-600: #0293de;
  --color-sky-700: #0272ac;
  --color-sky-800: #015079;
  --color-sky-900: #012f47;
  --color-sky-950: #000d14;
  --color-sky-A50: #17aefd80;
  --color-sky-A40: #17aefd52;
  --color-sky-A30: #17aefd3d;
  --color-sky-A20: #17aefd29;
  --color-sky-A10: #17aefd14;
  --color-blue-25: #f0f8ff;
  --color-blue-50: #e5f3ff;
  --color-blue-100: #dbeeff;
  --color-blue-200: #a8d6ff;
  --color-blue-300: #75beff;
  --color-blue-400: #42a6ff;
  --color-blue-500: #0f8eff;
  --color-blue-600: #0074db;
  --color-blue-700: #005aaa;
  --color-blue-800: #003e75;
  --color-blue-900: #002342;
  --color-blue-950: #00080f;
  --color-blue-A50: #0f8eff80;
  --color-blue-A40: #0f8eff52;
  --color-blue-A30: #0f8eff3d;
  --color-blue-A20: #0f8eff29;
  --color-blue-A10: #0f8eff14;
  --color-indigo-25: #fafaff;
  --color-indigo-50: #f1f1fe;
  --color-indigo-100: #e3e3fc;
  --color-indigo-200: #b4b4f8;
  --color-indigo-300: #8585f4;
  --color-indigo-400: #5656f0;
  --color-indigo-500: #2727ec;
  --color-indigo-600: #1010bc;
  --color-indigo-700: #0e0ea0;
  --color-indigo-800: #0a0a71;
  --color-indigo-900: #060642;
  --color-indigo-950: #020213;
  --color-indigo-A50: #2727ec80;
  --color-indigo-A40: #2727ec52;
  --color-indigo-A30: #2727ec3d;
  --color-indigo-A20: #2727ec29;
  --color-indigo-A10: #2727ec14;
  --color-violet-25: #fcfaff;
  --color-violet-50: #f5f1fe;
  --color-violet-100: #eae2fd;
  --color-violet-200: #c8b2fb;
  --color-violet-300: #a581f8;
  --color-violet-400: #8351f6;
  --color-violet-500: #6121f3;
  --color-violet-600: #420ac2;
  --color-violet-700: #3809a4;
  --color-violet-800: #280674;
  --color-violet-900: #170444;
  --color-violet-950: #070113;
  --color-violet-A50: #6121f380;
  --color-violet-A40: #6121f352;
  --color-violet-A30: #6121f33d;
  --color-violet-A20: #6121f329;
  --color-violet-A10: #6121f314;
  --color-purple-25: #fcfaff;
  --color-purple-50: #f7f0fe;
  --color-purple-100: #f0e2fe;
  --color-purple-200: #d7b1fb;
  --color-purple-300: #be80f9;
  --color-purple-400: #a550f7;
  --color-purple-500: #8c1ff4;
  --color-purple-600: #730ad6;
  --color-purple-700: #5908a6;
  --color-purple-800: #3f0675;
  --color-purple-900: #250344;
  --color-purple-950: #0b0114;
  --color-purple-A50: #8c1ff480;
  --color-purple-A40: #8c1ff452;
  --color-purple-A30: #8c1ff43d;
  --color-purple-A20: #8c1ff429;
  --color-purple-A10: #8c1ff414;
  --color-fuchsia-25: #fefaff;
  --color-fuchsia-50: #fcf1fe;
  --color-fuchsia-100: #f9e3fc;
  --color-fuchsia-200: #f0b4f8;
  --color-fuchsia-300: #e685f4;
  --color-fuchsia-400: #dc56f0;
  --color-fuchsia-500: #d327ec;
  --color-fuchsia-600: #b612cf;
  --color-fuchsia-700: #8d0ea0;
  --color-fuchsia-800: #630a71;
  --color-fuchsia-900: #3a0642;
  --color-fuchsia-950: #100213;
  --color-fuchsia-A50: #d327ec80;
  --color-fuchsia-A40: #d327ec52;
  --color-fuchsia-A30: #d327ec3d;
  --color-fuchsia-A20: #d327ec29;
  --color-fuchsia-A10: #d327ec14;
  --color-pink-25: #fffafd;
  --color-pink-50: #fef1f8;
  --color-pink-100: #fce3f0;
  --color-pink-200: #f8b5d6;
  --color-pink-300: #f387bc;
  --color-pink-400: #ee59a2;
  --color-pink-500: #e92a89;
  --color-pink-600: #cb156f;
  --color-pink-700: #9d1056;
  --color-pink-800: #6f0b3d;
  --color-pink-900: #410723;
  --color-pink-950: #12020a;
  --color-pink-A50: #e92a8980;
  --color-pink-A40: #e92a8952;
  --color-pink-A30: #e92a893d;
  --color-pink-A20: #e92a8929;
  --color-pink-A10: #e92a8914;
  --color-rose-25: #fffafb;
  --color-rose-50: #fef1f3;
  --color-rose-100: #fde2e6;
  --color-rose-200: #fbb2be;
  --color-rose-300: #f88296;
  --color-rose-400: #f5516d;
  --color-rose-500: #f22145;
  --color-rose-600: #d40c2e;
  --color-rose-700: #a40924;
  --color-rose-800: #740619;
  --color-rose-900: #44040f;
  --color-rose-950: #130104;
  --color-rose-A50: #f2214580;
  --color-rose-A40: #f2214552;
  --color-rose-A30: #f221453d;
  --color-rose-A20: #f2214529;
  --color-rose-A10: #f2214514;
  --color-secondary-25: #fbfefe;
  --color-secondary-50: #f2fcfd;
  --color-secondary-100: #e9fafb;
  --color-secondary-200: #ccf1f5;
  --color-secondary-300: #7cd5de;
  --color-secondary-400: #00b9cc;
  --color-secondary-500: #00a1b2;
  --color-secondary-600: #00818f;
  --color-secondary-700: #006f7a;
  --color-secondary-800: #004147;
  --color-secondary-900: #002529;
  --color-secondary-950: #001214;
  --color-secondary-A50: #00a1b280;
  --color-secondary-A40: #00a1b252;
  --color-secondary-A30: #00a1b23d;
  --color-secondary-A20: #00a1b229;
  --color-secondary-A10: #00a1b214;
  --color-orange-25: #fffbfa;
  --color-orange-50: #fff3f0;
  --color-orange-100: #fee8e1;
  --color-orange-200: #fdc2b0;
  --color-orange-300: #fb9b7e;
  --color-orange-400: #fa754c;
  --color-orange-500: #f84f1b;
  --color-orange-600: #db3806;
  --color-orange-700: #a92b04;
  --color-orange-800: #781e03;
  --color-orange-900: #461202;
  --color-orange-950: #140501;
  --color-orange-A50: #f94e1a80;
  --color-orange-A40: #f94e1a52;
  --color-orange-A30: #f94e1a3d;
  --color-orange-A20: #f94e1a29;
  --color-orange-A10: #f94e1a14;
  --color-amber-25: #fffdfa;
  --color-amber-50: #fef9f0;
  --color-amber-100: #fef3e2;
  --color-amber-200: #fcdfb0;
  --color-amber-300: #facc80;
  --color-amber-400: #f8b94f;
  --color-amber-500: #f6a51e;
  --color-amber-600: #d88b09;
  --color-amber-700: #a76b07;
  --color-amber-800: #764c05;
  --color-amber-900: #452c03;
  --color-amber-950: #140c01;
  --color-amber-A50: #f6a51e80;
  --color-amber-A40: #f6a51e52;
  --color-amber-A30: #f6a51e3d;
  --color-amber-A20: #f6a51e29;
  --color-amber-A10: #f6a51e14;
  --color-yellow-25: #fffefa;
  --color-yellow-50: #fffbf0;
  --color-yellow-100: #fef7e1;
  --color-yellow-200: #fde9b0;
  --color-yellow-300: #fbdc7f;
  --color-yellow-400: #f9cf4d;
  --color-yellow-500: #f7c21c;
  --color-yellow-600: #d9a607;
  --color-yellow-700: #a88105;
  --color-yellow-800: #775b04;
  --color-yellow-900: #453502;
  --color-yellow-950: #140f01;
  --color-yellow-A50: #f7c21c80;
  --color-yellow-A40: #f7c21c52;
  --color-yellow-A30: #f7c21c3d;
  --color-yellow-A20: #f7c21c29;
  --color-yellow-A10: #f7c21c14;
  --color-pure-White: #ffffff;
  --color-pure-Black: #000000;

  --color-primary: var(--color-primary-500);
  --color-primary-focused: var(--color-primary-600);
  --color-primary-hover: var(--color-primary-400);
  --color-primary-pressed: var(--color-primary-700);
  --color-primary-disable: var(--color-primary-50);
  --color-primary-cont: var(--color-primary-50);
  --color-primary-cont-focused: var(--color-primary-50);
  --color-primary-cont-hover: var(--color-primary-25);
  --color-primary-cont-pressed: var(--color-primary-100);
  --color-primary-cont-disable: var(--color-primary-25);

  --color-midnight: var(--color-midnight-800);
  --color-midnight-focused: var(--color-midnight-900);
  --color-midnight-hover: var(--color-midnight-700);
  --color-midnight-pressed: var(--color-midnight-950);
  --color-midnight-disable: var(--color-midnight-200);
  --color-midnight-cont: var(--color-pure-white);
  --color-midnight-cont-focused: var(--color-pure-white);
  --color-midnight-cont-hover: var(--color-midnight-50);
  --color-midnight-cont-pressed: var(--color-midnight-100);
  --color-midnight-cont-disable: var(--color-midnight-50);

  --color-success: var(--color-green-500);
  --color-success-focused: var(--color-green-600);
  --color-success-hover: var(--color-green-400);
  --color-success-pressed: var(--color-green-700);
  --color-success-disable: var(--color-green-50);
  --color-success-cont: var(--color-green-25);
  --color-success-cont-focused: var(--color-green-100);
  --color-success-cont-hover: var(--color-green-50);
  --color-success-cont-pressed: var(--color-green-200);
  --color-success-cont-disable: var(--color-green-50);

  --color-warning: var(--color-yellow-500);
  --color-warning-focused: var(--color-yellow-600);
  --color-warning-hover: var(--color-yellow-400);
  --color-warning-pressed: var(--color-yellow-700);
  --color-warning-disable: var(--color-yellow-50);
  --color-warning-cont: var(--color-yellow-25);
  --color-warning-cont-focused: var(--color-yellow-100);
  --color-warning-cont-hover: var(--color-yellow-50);
  --color-warning-cont-pressed: var(--color-yellow-200);
  --color-warning-cont-disable: var(--color-yellow-50);

  --color-error: var(--color-primary-500);
  --color-error-focused: var(--color-primary-600);
  --color-error-hover: var(--color-primary-400);
  --color-error-pressed: var(--color-primary-700);
  --color-error-disable: var(--color-primary-50);
  --color-error-cont: var(--color-primary-25);
  --color-error-cont-focused: var(--color-primary-100);
  --color-error-cont-hover: var(--color-primary-50);
  --color-error-cont-pressed: var(--color-primary-200);
  --color-error-cont-disable: var(--color-primary-50);

  --color-info: var(--color-blue-500);
  --color-info-focused: var(--color-blue-600);
  --color-info-hover: var(--color-blue-400);
  --color-info-pressed: var(--color-blue-700);
  --color-info-disable: var(--color-blue-50);
  --color-info-cont: var(--color-blue-25);
  --color-info-cont-focused: var(--color-blue-100);
  --color-info-cont-hover: var(--color-blue-50);
  --color-info-cont-pressed: var(--color-blue-200);
  --color-info-cont-disable: var(--color-blue-50);

  --color-secondary: var(--color-secondary-500);
  --color-secondary-focused: var(--color-secondary-600);
  --color-secondary-hover: var(--color-secondary-400);
  --color-secondary-pressed: var(--color-secondary-700);
  --color-secondary-disable: var(--color-secondary-50);
  --color-secondary-cont: var(--color-secondary-50);
  --color-secondary-cont-focused: var(--color-secondary-50);
  --color-secondary-cont-hover: var(--color-secondary-25);
  --color-secondary-cont-pressed: var(--color-secondary-100);
  --color-secondary-cont-disable: var(--color-secondary-25);

  /* Light */
  --color-light-green-25: #f0f8eb;
  --color-light-green-50: #d6eec8;
  --color-light-green-100: #bce3a6;
  --color-light-green-200: #a2d883;
  --color-light-green-300: #88ce61;
  --color-light-green-400: #6cc23c; /* Primary */
  --color-light-green-500: #5aa232;
  --color-light-green-600: #477f27;
  --color-light-green-700: #335d1c;
  --color-light-green-800: #203a12;

  --color-light-green: var(--color-light-green-400);
  --color-light-green-focused: var(--color-light-green-600);
  --color-light-green-hover: var(--color-light-green-300);
  --color-light-green-pressed: var(--color-light-green-700);
  --color-light-green-disable: var(--color-light-green-50);
  --color-light-green-cont: var(--color-light-green-50);
  --color-light-green-cont-focused: var(--color-light-green-50);
  --color-light-green-cont-hover: var(--color-light-green-25);
  --color-light-green-cont-pressed: var(--color-light-green-100);
  --color-light-green-cont-disable: var(--color-light-green-25);

  /* Dark */
  --color-dark-green-800: #203a12;
  --color-dark-green-700: #335d1c;
  --color-dark-green-600: #477f27;
  --color-dark-green-500: #5aa232;
  --color-dark-green-400: #6cc23c; /* Primary */
  --color-dark-green-300: #88ce61;
  --color-dark-green-200: #a2d883;
  --color-dark-green-100: #bce3a6;
  --color-dark-green-50: #d6eec8;
  --color-dark-green-25: #f0f8eb;

  --color-bg-light: #ffffff;
  --color-bg-dark: #2d2d2d;
}

:root {
  --ui-bg-light: var(--color-bg-light);
  --ui-bg-dark: var(--color-bg-dark);
}
